<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

    <div [ngClass]="{'text-right': _cs.usuario.uid == chat.uid}" *ngFor="let chat of _cs.chats">
        <span class="badge" [ngClass]="{'badge-primary': _cs.usuario.uid == chat.uid, 'badge-success': _cs.usuario.uid != chat.uid }">{{ chat.nombre }}</span>
        <p>{{ chat.mensaje }}</p>
    </div>
    <!-- Aquí se mostraran todos los mensajes del chat -->
    <!-- <div class="text-right">
        <span class="badge badge-primary">Ivan</span>
        <p>Mensjade chat</p>
    </div> -->
    <!-- Mensaje de la segunda persona -->
    <!-- <div>
        <span class="badge badge-success">Maria</span>
        <p>Saludos ivan</p>
    </div> -->

</div>
<input class="form-control" type="text" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviar_mensaje()" placeholder="Enviar mensaje">