<div class="row">

    <div class="col-md-12 text-center">
        <p>
            Ingresa con tu cuenta
        </p>
        <button type="button" class="btn btn-outline-danger" (click)="ingresar('google')">Google</button> |
        <button type="button" class="btn btn-outline-primary" (click)="ingresar('twitter')">Twitter</button>
    </div>

</div>